$font-proxima-light: "Proxima Nova Alt Lt", "Arial", sans-serif;
$font-proxima-bold: "ProximaBold", "Arial", sans-serif;
$font-source-light: "SourceSansProLight", "Arial", sans-serif;
$font-source-semi-bold: "Source Sans Pro", "Arial", sans-serif;
$font-open-sans-bold:  "OpenSansBold", "Arial", sans-serif;

$body-bg: #4e5860;
$color-accent: #ffffff;
