<!-- GENERATED CODE - DO NOT MODIFY BY HAND -->

<!DOCTYPE HTML>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title
      block title
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- script(src="../../js/pochta-bank.js")

    block scripts

    link(rel="stylesheet" type="text/css" href="/css/reset.css")

    block styles

    link(rel="stylesheet" type="text/css" href="/css/styles.css")

  body
    section.container
      include ./data/tags.pug
      include ./mixins/tags.pug
      +tags(tagsData)
      
      block page
