@font-face {
  font-weight: 250;
  font-family: "Dosis-ExtraLight";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/DosisExtraLight/Dosis-ExtraLight.eot") format("eot"),
  url("../fonts/DosisExtraLight/Dosis-ExtraLight.ttf") format("ttf"),
  url("../fonts/DosisExtraLight/Dosis-ExtraLight.woff") format("woff"),
  url("../fonts/DosisExtraLight/Dosis-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Dosis-Light";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/DosisLight/Dosis-Light.eot") format("eot"),
  url("../fonts/DosisLight/Dosis-Light.ttf") format("ttf"),
  url("../fonts/DosisLight/Dosis-Light.woff") format("woff"),
  url("../fonts/DosisLight/Dosis-Light.woff2") format("woff2");
}
