@font-face {
  font-weight: 300;
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;

  src: url("./fonts/RalewayLight/RalewayLight.eot") format("eot"),
    url("./fonts/RalewayLight/RalewayLight.ttf") format("true type"),
    url("./fonts/RalewayLight/RalewayLight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;

  src: url("./fonts/RalewayRegular/RalewayRegular.eot") format("eot"),
    url("./fonts/RalewayRegular/RalewayRegular.ttf") format("true type"),
    url("./fonts/RalewayRegular/RalewayRegular.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;

  src: url("./fonts/RalewaySemiBold/RalewaySemiBold.eot") format("eot"),
    url("./fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("true type"),
    url("./fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;

  src: url("./fonts/RalewayBold/RalewayBold.eot") format("eot"),
    url("./fonts/RalewayBold/RalewayBold.ttf") format("true type"),
    url("./fonts/RalewayBold/RalewayBold.woff") format("woff");
}

body,
html {
  font-family: Raleway, sans-serif;
}

body {
  margin: 0;
  height: 3000px;
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  position: absolute;
}

.button__contact {
  position: fixed;
  top: 50%;
  right: -39px;
  display: none;
  padding: 12px 23px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #fb9536;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
  z-index: 999;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
  -webkit-transition: background-color 0.3s, opacity 0.4s ease-in-out 250ms;
  -o-transition: background-color 0.3s, opacity 0.4s ease-in-out 250ms;
  -moz-transition: background-color 0.3s, opacity 0.4s ease-in-out 250ms;
  transition: background-color 0.3s, opacity 0.4s ease-in-out 250ms;
}

.button__contact:hover {
  background: #d88334;
}

.button__contact:focus {
  outline: currentColor dotted 2px;
  outline-offset: -10px;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1042;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: 0 0;
}

.form__wrapper {
  position: fixed;
  top: 0;
  left: auto;
  right: -600px;
  width: 550px;
  height: 100%;
  z-index: 1043;
  outline: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.form__container.opened {
  right: 0;
}

.form__container {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  padding: 0;
  width: 370px;
  height: 100%;
  text-align: center;
  font: inherit;
  background: #fff;
  -webkit-box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

#requestForm {
  position: relative;
  width: 100%;
  height: 100vh;
  background: 0 0;
  text-align: left;
}

.form-contact {
  display: block;
  position: absolute;
  top: 50%;
  padding: 0 40px;
  width: 100%;
  max-height: 750px;
  font-family: Raleway, sans-serif;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: auto;
}

.form__help-title {
  margin: 0 0 15px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #232323;
}

.form__help-copy {
  margin: 0 0 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #232323;
}

.form-contact fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__element {
  position: relative;
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}

.form-contact label {
  display: none;
}

.form-contact .form__element input,
.form-contact .form__element textarea {
  padding: 8px 10px;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #042e33;
  border: 1px solid #dfdfdf;
}

.form-contact input:focus,
.form-contact textarea:focus {
  outline: currentColor solid 1px;
  outline-offset: -2px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #042e33;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #042e33;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #042e33;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #042e33;
}

.form-contact .form__element input {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.form-contact .form__element textarea {
  height: 80px;
}

.form__element.buttons {
  display: inline-block;
  margin-bottom: 26px;
  text-align: center;
}

.form__element.buttons input.button {
  display: block;
  cursor: pointer;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border: 1px solid #f8f8f8;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#requestThankYou.form-thank-you-message .button:focus,
.form__element.buttons input.button:focus {
  outline: currentColor dotted 2px;
  outline-offset: -10px;
}

.form__element.buttons input.button.neptune-color,
.form-thank-you-message input.button.neptune-color {
  padding: 12px;
  margin-bottom: 10px;
  background: #fb9536;
  color: #fff;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
}

.form__element.buttons input.button.neptune-color:hover,
.form-thank-you-message input.button.neptune-color:hover {
  background: #d88334;
}

.form__element.buttons input.button.white-color {
  padding: 11px 12px;
  border: 1px solid #acacac;
  border-radius: 2px;
  background: #fff;
  color: #232323;
}

.form__element.buttons input.button.white-color:hover {
  background: #f2f2f2;
}

.form-contact .disclaimer,
.form-contact .required-copy {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
}

.form-contact .required-copy {
  margin: 0;
  letter-spacing: 0.5px;
  color: #9c9c9c;
}

.form-contact .disclaimer {
  text-align: left;
  margin: 0;
  letter-spacing: inherit;
  text-transform: none;
  color: #9c9c9c;
}

.disclaimer-link {
  margin: 0;
  padding: 0;
  color: #86bcc2;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: inherit;
  outline: 0;
}

.form__close {
  position: absolute;
  right: 12px;
  top: 11px;
  display: block;
  cursor: pointer;
  outline: 0;
  height: 35px;
  line-height: 35px;
  background-color: transparent;
  padding-right: 35px;
  font-size: 18px;
  font-weight: 600;
  color: #232323;
}

.form__close::before {
  position: absolute;
  right: 8px;
  top: 17px;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #232323;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__close::after {
  position: absolute;
  content: "";
  top: 17px;
  right: 8px;
  width: 20px;
  height: 2px;
  background-color: #232323;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-thank-you-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  text-align: center;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-thank-you-message .check-mark-icon {
  height: 50px;
  margin-bottom: 20px;
}

.form-thank-you-message h3 {
  margin: 0;
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  letter-spacing: inherit;
  color: #232323;
}

.form-thank-you-message hr {
  height: 2px;
  width: 70%;
  margin: 30px auto;
  background-color: #86bcc2;
  border: 0;
}

.form-thank-you-message p {
  margin: 0 0 20px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: inherit;
  color: #232323;
  line-height: 24px;
}

.form-thank-you-message p sup {
  line-height: 100%;
}

#requestThankYou.form-thank-you-message .button {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  max-width: 230px;
  width: 100%;
  text-align: center;
  margin: 5px;
  padding: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
