-
  var tableData = {
    headers: ["Present","Past Simple", "Past Participle", "Russian Translation"],
    rows: [
      ["awake", "awoke", "awoken", "просыпаться"],
      ["be", "was, were", "been", "быть"],
      ["beat", "beat", "beaten", "бить"],
      ["become", "became", "become", "становиться"],
      ["begin", "began", "begun", "начинать"],
    ]
  }