-
  var tagsData = [
    {
      title: 'Chartjs',
      url: '../Chartjs/index.html',
    },
    {
      title: 'Widget in flexbox layout',
      url: '../flexbox/build/index.html',
    },
    {
      title: 'Widget in grid layout',
      url: '../grid/build/index.html',
    },
    {
      title: 'Centring',
      url: '../centring/index.html',
    },
    {
      title: 'Form Contact Us (jQuery)',
      url: '../form/index.html',
    },
    {
      title: 'Animated landing page',
      url: '../landing-page/index.html',
    },
    {
      title: 'tables',
      url: '../html-pages/tables.html',
    },
  ]
